.header__lang-link {
  font-size: 24px;
  max-width: 30px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s linear;
  transition-delay: 0.3;
}

.header__lang-link:hover {
  box-shadow: 0 1px 0 0;
}

@media (max-width: 320px) {
  .header__lang-link {
    max-width: 22px;
    line-height: 20px;
    font-size: 18px;
  }
}
