.lead__title {
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto 32px;
  max-width: 720px;
  text-align: center;
}

@media (max-width: 680px) {
  .lead__title {
    font-size: 12vw;
    line-height: 16vw;
  }
}

@media (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
    max-width: 288px;
  }
}
