.lead__img {
  max-width: 100%;
  max-height: 615px;
  margin-bottom: 8px;
  display: block;
  padding-top: 0;
}

@media (max-width: 1024px) {
  .lead__img {
    max-height: 580px;
  }
}

@media (max-width: 768px) {
  .lead__img {
    max-height: 480px;
  }
}

@media (max-width: 320px) {
  .lead__img {
    max-height: 200px;
  }
}
